
__pycache__/richpresence.cpython-37.pyc
build/richpresence/Analysis-00.toc
build/richpresence/base_library.zip
build/richpresence/EXE-00.toc
build/richpresence/PKG-00.pkg
build/richpresence/PKG-00.toc
build/richpresence/PYZ-00.pyz
build/richpresence/PYZ-00.toc
build/richpresence/richpresence.exe.manifest
build/richpresence/Tree-00.toc
build/richpresence/Tree-01.toc
build/richpresence/Tree-02.toc
build/richpresence/warn-richpresence.txt
build/richpresence/xref-richpresence.html
dist/richpresence.exe
*.spec
richpresence.spec
richpresence.spec
dist/credentials.json
dist/rpc.json
richpresence.spec
