
__pycache__/richpresence.cpython-37.pyc
build/richpresence/Analysis-00.toc
build/richpresence/base_library.zip
build/richpresence/EXE-00.toc
build/richpresence/PKG-00.pkg
build/richpresence/PKG-00.toc
build/richpresence/PYZ-00.pyz
build/richpresence/PYZ-00.toc
build/richpresence/richpresence.exe.manifest
build/richpresence/Tree-00.toc
build/richpresence/Tree-01.toc
build/richpresence/Tree-02.toc
build/richpresence/warn-richpresence.txt
build/richpresence/xref-richpresence.html
dist/richpresence.exe
*.spec
richpresence.spec
richpresence.spec
dist/credentials.json
dist/rpc.json
richpresence.spec
__pycache__/ui.cpython-37.pyc
build/ui/Analysis-00.toc
build/ui/base_library.zip
build/ui/EXE-00.toc
build/ui/PKG-00.pkg
build/ui/PKG-00.toc
build/ui/PYZ-00.pyz
build/ui/PYZ-00.toc
build/ui/Tree-00.toc
build/ui/Tree-01.toc
build/ui/Tree-02.toc
build/ui/ui.exe.manifest
build/ui/warn-ui.txt
build/ui/xref-ui.html
dist/ui.exe
dist/rpc.json
rpc.json
credentials.json
dist/credentials.json
*.json
__pycache__/additional.cpython-37.pyc
dist/HaloMCCRPC.zip
richpresence.spec
